.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.cart-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 42px;
    margin-left: 50px;
    margin-right: 30px;
    padding-top: 30px;
}
.shop-btn{
    border: none;
    background: #FF9900;
    border-radius: 4px;
    margin-left: 20px;
    margin-right: 10px;
    width: 220px;
    height: 45px;
    font-size: medium;
}
.pagecount{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 7px;
}
.pagecount .selected{
    background-color: #FF9900;
    color: white;
}

.pagecount button{
    margin-left: 15px;
}
.dopdown{
    background-color: antiquewhite;
    margin-left: 15px;

}

 /* responsive for mobile device */

 @media screen and (max-width:778px){
       .cart-container{
           display: grid;
           grid-template-columns: repeat(1 , 1fr);
       }
       
 }