.header{
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 135px;
}
.navbar a{
    text-decoration: none;
    color: #f44336;
    margin-left: 35px;
    font-size: 17px;
    display: inline-block;
    position: relative;
}
.navbar a::after{
    content: '';
    height: 2px;
    width: 0;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: .4s;
}
.navbar a:hover::after{
    width: 100%;
}
.icon{
    display: none;
}

